/*
Syntax error: Undefined mixin 'transition'.
        on line 35 of /media/Storage/Creative/Software/Projects/davehulihan.com/assets/themes/hooligan/_sass/base.scss, in `transition'
        from line 35 of /media/Storage/Creative/Software/Projects/davehulihan.com/assets/themes/hooligan/_sass/base.scss

Backtrace:
/media/Storage/Creative/Software/Projects/davehulihan.com/assets/themes/hooligan/_sass/base.scss:35:in `transition'
/media/Storage/Creative/Software/Projects/davehulihan.com/assets/themes/hooligan/_sass/base.scss:35
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/root_node.rb:20:in `render'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/engine.rb:300:in `_render'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/engine.rb:247:in `render'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `block in compile'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `block in run'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/commands/update_project.rb:45:in `perform'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/media/Storage/Creative/Software/Projects/davehulihan.com/_plugins/compass.rb:23:in `block in generate'
/media/Storage/Creative/Software/Projects/davehulihan.com/_plugins/compass.rb:22:in `chdir'
/media/Storage/Creative/Software/Projects/davehulihan.com/_plugins/compass.rb:22:in `generate'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/jekyll-0.11.2/lib/jekyll/site.rb:184:in `block in generate'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/jekyll-0.11.2/lib/jekyll/site.rb:183:in `each'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/jekyll-0.11.2/lib/jekyll/site.rb:183:in `generate'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/jekyll-0.11.2/lib/jekyll/site.rb:39:in `process'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/jekyll-0.11.2/bin/jekyll:239:in `block in <top (required)>'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher.rb:580:in `call'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher.rb:580:in `block in notify_observers'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher.rb:579:in `each'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher.rb:579:in `notify_observers'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher.rb:334:in `block in initialize'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher/scanner.rb:224:in `call'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher/scanner.rb:224:in `notify'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher/scanner.rb:102:in `run_once'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher/scanner.rb:150:in `run_loop'
/home/dave/.rvm/gems/ruby-1.9.3-p194/gems/directory_watcher-1.4.1/lib/directory_watcher/scanner.rb:45:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'transition'.\A         on line 35 of /media/Storage/Creative/Software/Projects/davehulihan.com/assets/themes/hooligan/_sass/base.scss, in `transition'\A         from line 35 of /media/Storage/Creative/Software/Projects/davehulihan.com/assets/themes/hooligan/_sass/base.scss"; }
