@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
/* Theme Vars */
/* Override some defaults */
/* line 10, ../_sass/style.scss */
html, body {
  background-color: #2a2a2a;
  background: url(../images/bgs/body.png) repeat;
}

/* line 15, ../_sass/style.scss */
body {
  color: #ccc;
  text-shadow: 1px 1px 1px #000;
  height: 100%;
}

/* line 21, ../_sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #999;
  text-rendering: optimizelegibility;
  font-family: 'Advent Pro', sans-serif;
  /*font-family: 'Pontano Sans', sans-serif;*/
}

/* line 30, ../_sass/style.scss */
a {
  color: #4cb4e8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 32, ../_sass/style.scss */
a:hover {
  color: #d4edf9;
  text-decoration: none;
}

/* line 39, ../_sass/style.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

/* line 44, ../_sass/style.scss */
h1, h2 {
  margin: 15px 0px;
}

/* line 48, ../_sass/style.scss */
h1 {
  font-size: 40px;
}

/* line 52, ../_sass/style.scss */
h2 {
  font-size: 30px;
}

/* line 56, ../_sass/style.scss */
pre, code {
  color: #ccc;
}

/* line 60, ../_sass/style.scss */
pre > code {
  /* Reset box-shadow for pygments */
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

/* line 69, ../_sass/style.scss */
hr {
  border: none;
  background: #000;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Layout */
/* line 77, ../_sass/style.scss */
.navbar {
  margin-bottom: 0;
}
/* line 79, ../_sass/style.scss */
.navbar div.navbar-inner {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 87, ../_sass/style.scss */
.container > footer {
  margin-top: 20px;
}

/* line 91, ../_sass/style.scss */
.container > footer p {
  text-align: center;
  /* center align it with the container */
}

/* Page Content */
/* line 96, ../_sass/style.scss */
.content {
  /* Wide column content */
}
/* line 97, ../_sass/style.scss */
.content img {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
/* line 103, ../_sass/style.scss */
.content div.row div.span8 > img {
  display: block;
  margin: 10px auto;
}
/* line 110, ../_sass/style.scss */
.content div.row div.span4 h4 {
  margin-top: 10px;
}
/* line 112, ../_sass/style.scss */
.content div.row div.span4 h4:first {
  margin-top: 0;
}

/* Page header tweaks */
/* line 119, ../_sass/style.scss */
.page-header {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  z-index: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 142, ../_sass/style.scss */
.page-header h1 {
  color: #eee;
  margin-bottom: 0;
}

/* line 147, ../_sass/style.scss */
.topbar .btn {
  border: 0;
}

/* Buttons */
/* line 153, ../_sass/style.scss */
a.btn, a.btn.disabled {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px #000;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
/* line 164, ../_sass/style.scss */
a.btn:hover, a.btn.disabled:hover {
  background: rgba(255, 255, 255, 0.05);
}
/* line 167, ../_sass/style.scss */
a.btn.disabled, a.btn.disabled.disabled {
  color: rgba(255, 255, 255, 0.3);
}

/* tag_box ======================================================== */
/* line 173, ../_sass/style.scss */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}

/* line 179, ../_sass/style.scss */
.tag_box li {
  line-height: 28px;
}

/* line 182, ../_sass/style.scss */
.tag_box.inline li {
  float: left;
}

/* line 185, ../_sass/style.scss */
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

/* line 200, ../_sass/style.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 204, ../_sass/style.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}

/* Responsive Overrides */
@media (max-width: 767px) {
  /* line 213, ../_sass/style.scss */
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 218, ../_sass/style.scss */
  div.container {
    padding: 0px 20px;
  }
  /* line 220, ../_sass/style.scss */
  div.container div.page-header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
