/* This is for your Custom Content. */

/** Sticky footer **/
$footerHeight: 75px;

//Page full height
html, body {
  height: 100%;
}

#page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // Negative indent footer by it's height
  margin-bottom: -($footerHeight);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

//footer fixed height
.footer-push,
footer {
  height: $footerHeight;
  max-height: $footerHeight;
  overflow: hidden;
}
