/* Posts */
article.post {
	header {
		margin-bottom:10px;
		h1, h2 {
			margin: 0;
		}
	}
} 

div.posts {
	article {
		// padding-bottom:10px;
		// margin-bottom:10px;
		div.date {
			font-size:10px;
			padding:10px 0;
			time {
					@include box-shadow(
						 rgba(255, 255, 255, 0.1) 0 1px 0, 
						 rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
					);
					background: #202020;
					background-color: rgba(0, 0, 0, 0.3);
					@include border-radius;
					padding:5px 10px;
				}				
		}
	}
}